@media(max-width:920px)
{
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;

    }

    @media (max-width:576px) {
      .dropdown_menu{
          left: 2rem;
         width: unset;
     }
    
    }  
}